<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} // {{ site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="bg-raffia font-comicneue leading-normal text-woodsmoke">
        <div
            class="
                    bg-casablanca left-[95vw] sm:left-[90vw] md:left-[75vw]
                    fixed top-0 -bottom-[150px] -right-[100px] -skew-x-12 -z-50"
        ></div>
        <div
            class="
                    bg-gold-drop left-[100vw] sm:left-[95vw] md:left-[80vw]
                    fixed top-0 -bottom-[150px] -right-[100px] -skew-x-12 -z-50"
        ></div>
        <div
            class="
                    bg-punch left-[105vw] sm:left-[100vw] md:left-[85vw]
                    fixed top-0 -bottom-[150px] -right-[100px] -skew-x-12 -z-50"
        ></div>
        <div
            class="
                    bg-woodsmoke left-[110vw] sm:left-[105vw] md:left-[90vw]
                    fixed top-0 -bottom-[150px] -right-[100px] -skew-x-12 -z-50"
        ></div>
        {{ template_content }}
    </body>
</html>
