<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} // {{ site:name }}</title>
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
</head>
<body class="bg-raffia font-newage leading-normal text-woodsmoke">
<div
    class="
            hidden md:block
            w-[100px]
            bg-woodsmoke
            fixed top-0 right-0 bottom-0 -z-50"
></div>
<div class="fixed top-0 right-0 bottom-0 md:left-0 -z-50 flex justify-center md:justify-end">
    <div
        class="
            h-[100vh]
            ml-[40px] w-[20px]
            md:ml-0 md:mr-[198px] md:w-[100px]
            bg-casablanca
            shadow-2xl
            fixed top-0 -z-50 -skew-x-12"
    ></div>
    <div
        class="
            h-[100vh]
            ml-[78px] w-[20px]
            md:ml-0 md:mr-[98px] md:w-[100px]
            bg-gold-drop
            shadow-2xl
            fixed top-0 -z-50 -skew-x-12"
    ></div>
    <div
        class="
            h-[100vh]
            ml-[118px] w-[20px]
            md:ml-0 md:w-[100px]
            bg-punch
            shadow-2xl
            fixed top-0 -z-50 -skew-x-12"
    ></div>
    <div
        class="
            h-[100vh]
            ml-[158px] w-[20px]
            md:ml-0 md:-mr-[98px] md:w-[100px]
            bg-woodsmoke
            shadow-2xl
            fixed top-0 -z-50 -skew-x-12"
    ></div>
</div>
{{ template_content }}
</body>
</html>
