<div class="mx-auto px-2 min-h-screen flex flex-col container py-4">
    <div class="flex gap-8 md:gap-16 flex-col-reverse md:flex-row md:mt-8">
        <div class="grow max-w-[80vw] md:max-w-none md:w-2/3">
            <h1 class="font-extramile text-6xl md:text-[5.5rem] font-bold mt-4 md:mt-8 mb-4">Marc Coupland</h1>
            <div class="text-2xl">(That's me)</div>
            <div class="text-2xl">
                Find me everywhere as <span class="italic">marccoup</span>.
            </div>
            <div class="text-2xl">
                Sometimes it has prepended underscores!
            </div>
        </div>
    </div>

    <div class="md-8 md:mt-32">
        <h2 class="font-bold text-4xl">Stuff I do</h2>

        <ul class="space-y-1 mt-1 text-2xl">
            <li class="flex items-center gap-2">
                {{ svg src="icons/grunge-circle-5" class="text-punch w-3" }}
                <span>
                    Build <span class="italic">incredible</span> web apps at
                <a
                    class="text-punch font-bold italic underline hover:opacity-75 transition ease-in-out"
                    href="https://vibeagency.uk"
                    target="_blank"
                >Vibe Agency</a>
                </span>
            </li>
            <li class="flex items-center gap-2">
                {{ svg src="icons/grunge-circle-5" class="text-punch w-3" }}
                <span>Ride motorcycles!</span>
            </li>
            <li class="flex items-center gap-2">
                {{ svg src="icons/grunge-circle-5" class="text-punch w-3" }}

                <span>
                    Write
                "<a
                    class="inline text-punch font-bold italic underline hover:opacity-75 transition ease-in-out"
                    href="{{ link to="articles" absolute="true" }}"
                >Articles</a>"
                </span>
            </li>
            <li class="flex items-center gap-2">
                {{ svg src="icons/grunge-circle-5" class="text-punch w-3" }}

                <span>
                        Rebuild this site once a year
                </span>
            </li>
        </ul>
    </div>

</div>