<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} // {{ site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="bg-raffia font-newage leading-normal text-woodsmoke">
        <div
        class="
            hidden sm:block
            w-[50vw]
            bg-woodsmoke
            fixed top-0 right-0 bottom-0 -z-50"
        ></div>
        <div class="fixed top-0 right-0 bottom-0 sm:left-0 -z-50 flex justify-center">
        <div
            class="
            h-[100vh]
            ml-[40px] w-[20px]
            sm:ml-0
            sm:mr-[198px] sm:w-[100px]
            md:mr-[298px] md:w-[150px]
            2xl:mr-[398px] 2xl:w-[200px]
            bg-casablanca
            shadow-2xl
            fixed top-0 -z-50 -skew-x-12"
        ></div>
        <div
            class="
            h-[100vh]
            ml-[78px] w-[20px]
            sm:ml-0  sm:w-[100px]
            md:w-[150px]
            2xl:w-[200px]
            bg-gold-drop
            shadow-2xl
            fixed top-0 -z-50 -skew-x-12"
        ></div>
        <div
            class="
            h-[100vh]
            ml-[118px] w-[20px]
            sm:ml-[198px] sm:w-[100px]
            md:ml-[298px] md:w-[150px]
            2xl:ml-[398px] 2xl:w-[200px]
            bg-punch
            shadow-2xl
            fixed top-0 -z-50 -skew-x-12"
        ></div>
        <div
            class="
            h-[100vh]
            ml-[158px] w-[20px]
            sm:hidden
            bg-woodsmoke
            shadow-2xl
            fixed top-0 -z-50 -skew-x-12"
        ></div>
    </div>

        {{ template_content }}
    </body>
</html>
