<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} // {{ site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="bg-raffia font-comicneue leading-normal text-woodsmoke">
        <div class="mx-auto px-2 overflow-hidden min-h-screen flex flex-col items-center container py-4">
            {{ template_content }}
        </div>
    </body>
</html>
