@import "open-props/masks/corner-cuts";

.cards {
    display: flex;
    flex-direction: column;
    gap: var(--size-8);
}

.card {
    background-image: var(--card-background-image);
    padding: var(--size-4);
    box-shadow: var(--shadow-2);
    background-size: cover;
    background-position: top;
    overflow: hidden;
    max-width: 800px;

    &.card-single {
        padding: 0;
        border: 0;
        box-shadow: none;
        border-radius: unset !important;
        overflow: unset !important;

        .card-meta {
            padding: 0;
        }

        .content {
            padding: 0 0 var(--size-4) 0;
        }

        .caption {
            padding: var(--size-3) 0 var(--size-6);
        }
    }

    .card-meta {
        display: flex;
        gap: var(--size-3);
        align-items: center;
        margin-bottom: var(--size-4);
        font-size: var(--font-size-3);
        line-height: var(--font-lineheight-0);

        >* {
            line-height: var(--font-lineheight-0);
        }

        a {
            transition: color 0.1s ease-in-out;
            display: block;
        }
    }

    .post-title {
        font-size: var(--font-size-4);
        margin-bottom: var(--size-3);
    }

    p,
    ul,
    ol,
    dl,
    h6 {
        font-size: var(--font-size-2);
    }

    ul,
    ol {
        margin-left: var(--size-4);
        padding-left: var(--size-px-2);

        ul,
        ol {
            margin-left: 0;
        }
    }

    hr {
        margin-block: var(--size-6);
    }

    p {
        margin: var(--size-2) 0;
    }

    .content {
        padding: 0 0 var(--size-4);

        .read-more {
            font-size: var(--font-size-1);
        }
    }

    .caption {
        border-top: var(--border-size-2) solid var(--text-base);
        padding: var(--size-3) 0 0;
    }

    blockquote {
        border-left: var(--border-size-2) solid;
        max-inline-size: unset;

        p {
            margin: 0;
        }

        cite {
            padding: 0;
            border: 0;
        }
    }
}

.card-quote {

    blockquote {
        font-size: var(--font-size-5);

        p {
            font-size: var(--font-size-5);
        }

        cite {
            font-size: var(--font-size-2);
        }
    }
}

.card-link {

    .og-image {
        display: block;
        width: 100%;
    }

    h2 {
        margin-top: var(--size-2);
        font-size: var(--font-size-3);
        max-inline-size: unset;
    }
}

.card-photo {

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.photo-gallery {
    display: grid;
    gap: var(--size-3);
}

.photo-gallery-item {
    display: block;
    text-decoration: none;
}

@media (--md-n-above) {

    .cards.home {
        margin-top: 70px;
    }

    .card {

        p,
        ul,
        ol,
        dl,
        h6 {
            font-size: var(--font-size-3);
        }
    }
}
