@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'extra_mileregular';
    src: url('/resources/fonts/extra_mile-webfont.woff2') format('woff2'),
    url('/resources/fonts/extra_mile-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'new_ageregular';
    src: url('/resources/fonts/new_age-webfont.woff2') format('woff2'),
    url('/resources/fonts/new_age-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

