{{ if photo }}
    {{ if current_template === "default" }}
        <div class="photo-gallery">
            {{ photo }}
                <a href="{{ url }}" class="photo-gallery-item">
                    <img src="{{ url }}" alt="{{ alt ?? title }}">
                </a>
            {{ /photo }}
        </div>
    {{ else }}
        {{ photo limit="1" }}
            <a href="{{ url }}">
                <img src="{{ url }}" alt="{{ alt ?? title }}">
            </a>
        {{ /photo }}
    {{ /if }}
{{ /if }}
