{{ if photo }}
    {{ if current_template === "default" }}
        <div class="photo-gallery">
            {{ glide:photo width="1280" quality="75" }}
                <a href="{{ url }}" class="photo-gallery-item">
                    <img src="{{ url }}" alt="{{ alt ?? title }}" width="{{ width }}" height="{{ height }}">
                </a>
            {{ /glide:photo }}
        </div>
    {{ else }}
        <a href="{{ url }}">
            {{ glide:photo width="1024" quality="70" limit="1" }}
                <img src="{{ url }}" alt="{{ alt ?? title }}" width="{{ width }}" height="{{ height }}">
            {{ /glide:photo }}
        </a>
    {{ /if }}
{{ /if }}
