<div class="mx-auto px-2 overflow-hidden min-h-screen flex flex-col items-center container py-4">
    <div class="
        my-2 w-full text-left
        md:my-0
    ">
        <a
            class="
                text-punch font-extramile text-4xl hover:opacity-75 transition ease-in-out
            "
            href="{{ link to="articles" absolute="true" }}"
        ><< more articles! </a>
    </div>

    <div class="text-lg">{{ date }}</div>

    <h1 class="font-extramile text-6xl font-bold mt-4 mb-8 max-w-2xl text-center">
        {{ title }}
    </h1>

    <div class="lg:max-w-2xl prose prose-2xl mb-10">
        {{ content | widont }}
    </div>
</div>