<article>
    <header class="page-header">
        <h1 class="page-title">{{ title }}</h1>
    </header>

    <div>
        <div class="card card-text card-single">
            <div class="card-meta">
                <span class="post">
                    {{ date format="M j" }}
                </span>
                <a class="post" href="{{ url }}">
                    Permalink
                </a>
            </div>
            <div class="card-content">
                <div class="content">
                    {{ content }}
                </div>
            </div>
        </div>

    </div>
</article>
